/* .form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 31px;
}
.form-inputs p {
  color: red;
  font-size: 15px;
  padding: 5px;
}

.form-content-right {
  text-align: center;
  background-image: url("https://media.transitions.com/cms/caas/v1/media/10888/data/picture/dc858702cb40576facbe802613a9f023.png");
  border: 2px solid white;
  border-radius: 20px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  padding-bottom: 6px;
  color: white;
}

.checkmark {
  width: 50%;
}

.form-input-btn {
  border: 1px solid black;
  background: black;
  color: white;
  text-align: center;
  align-items: center;
  cursor: pointer;
  display: inline;
  padding: 10px;
  width: 15%;
  align-self: start;
}

.form-input-login {
  padding: 20px;
   color: white;
  } */

.form-input-login a {
  font-size: x-large;
  padding: 4px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: beige;
}

.wrong {
  color: red;
}

h1 {
  color: white;
  font-size: calc(1.375rem + 1.5vw);
  text-align: start;
  margin-left: 31px;
}
.signUp-page-container {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
}
.signUp-sideBar {
  width: 25vw;
  height: 80vh;
  border-radius: 1em;
  background-color: #c69749;
  display: flex;
  flex-direction: column;
  margin: 1em;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  color: white;
}
.signUp-sidebar-title {
  margin: 2em 0.5em;
}
.form-container {
  flex-direction: column;
  display: flex;
  /*align-items: center;*/
  padding-top: 40px;
  padding-bottom: 40px;
  width: 40vw;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.form-input-btn {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .signUp-sideBar {
    display: none;
  }
  .form-container,
  .form-inputs,
  .form-input-btn {
    width: 100%;
  }
}
