.page-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.right-div {
  width: 50%;
  background-color: antiquewhite;
  height: 500px;
}
.left-div {
  height: 500px;

  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.wrong-details {
  transition: 2s;
  background-color: red;
}

.left-div * {
  margin-left: 30px;
}
/* .title-wrapper {
}
.instructions-wrapper {
} */

.field-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.button-wrapper {
  margin-bottom: 20px;
}
/* .signup-link-wrapper {
} */
.signup-link-wrapper a {
  font-size: x-large;
  color: green;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.signup-link-wrapper a:hover {
  background-color: white;
  transition: 1s;
}

.wrong-details-msg {
  font-size: larger;
  color: white;
}
