.micro-ticket {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 1em;
}
.micro-ticket-titles {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.micro-ticket-label,
.micro-ticket-value {
  margin: 0;
  font-size: larger;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .micro-ticket {
    margin-bottom: 2em;
    padding: 1em;
  }
}
