.listSwiper {
  margin: 0 50px;
}

.ListTitle {
  text-align: center;
  font-size: 2rem;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0;
  justify-items: center;*/
}
