.listSwiper {
  margin: 2rem 0;
}
.ListTitle {
  text-align: center;
  font-size: 2rem;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0;
  justify-items: center;*/
}
.searchDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.swiper-container {
  /* width: 480px; */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .listSwiper {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .listSwiper {
    margin: 1rem 0;
  }
}
