.page-wrapper-dashboard {
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  background-image: url("https://c1.wallpaperflare.com/preview/27/966/475/band-blur-concert-dark.jpg");
}

.sidemenu {
  width: 5%;
  background-color: black;
  opacity: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
  border-radius: 0 0px 55px 0px;
  justify-content: center;
}
.sidemenu:hover {
  transition: 1s;
  opacity: 100%;
  width: 20%;
  background-color: black;
  height: 500px;
}

.pi-arrow-circle-right {
  color: white;
}

.sidemenu li {
  color: white;
  list-style: none;
  padding: 20px;
  position: relative;
  margin: 20px;
  border: 1px;
  border-radius: 10px 10px;
  cursor: pointer;
}
.sidemenu li:hover {
  background-color: white;
  color: black;
  transition: 2s;
}

.right-side {
  width: 80%;
  text-align: center;
}

.right-side-top {
  height: 20%;
}

.right-side-bottom {
  background-color: white;
  width: 100%;
}

.text {
  color: white;
}
