.listContainer {
  margin: 0 50px;
  margin-top: 50px;
}

.ListTitle {
  text-align: center;
}

.list-wrap {
  background-color: lightgray;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
