.cardLink {
  text-decoration: none;
  color: initial;
}
/* .eventCardContainer {
  height: 350px;
} */
.eventCardContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: initial;
  transform: scale(1.02);
  transition: opacity 0.45s ease, transform 0.5s ease;
}
.card-body {
  overflow: hidden;
  white-space: nowrap;
}
.card-title {
  text-overflow: ellipsis;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .eventCardContainer {
    margin: 0 2rem;
  }
}
