h4,
p {
  margin: 0;
}
h6 {
  margin: 1em 0;
}
p {
  font-size: 12px;
}
h4,
h6,
p {
  text-align: left;
}
img {
  border-radius: 5px;
  margin-bottom: 0.5em;
  /*  width: fit-content; */
}
.eventCardContainer {
  max-width: 280px;
  padding: 20px;
  /*removing the max-width, the arrows dissapear  WHY ???*/
}
.cardLink {
  text-decoration: none;
  color: initial;
  padding: 20px;
}
.eventCardContainer:hover {
  background-color: rgb(221, 213, 213);
  border-radius: 5px;
  box-shadow: inset;
}
