body {
  font-family: Roobert, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  height: 80px;
  background: rgb(5, 5, 5);
  padding: 0 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  font-size: initial;
}

.pi-user {
  color: white;
}

.company-logo {
  display: flex;
  align-items: flex-start;
  height: 80px;
}

li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.LoginLink {
  background: #2a3334;
  border-radius: 50px;
  padding: 10px 0;
}
.current {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

#bar {
  display: none;
  color: #fff;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  position: absolute;
  margin-right: 20px;
}
.menu {
  display: none;
}
.burger-menu-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  burger-menu-btn {
    display: flex;
    align-items: flex-end;
  }
  #hidden {
    position: absolute;
    right: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }

  #none {
    display: none;
  }
}
