.footer-wrapper {
  background-color: #212529;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footerLinks:hover {
  text-decoration: underline;
}
/*
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 100px;
  justify-content: space-around;
  border: 2px solid black;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
}
.logo-wrapper {
  background-color: black;
}

.social-media-wrapper {
  width: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
}
.footerLinks {
  color: white;
  text-decoration: none;
}
.footerLinks:visited {
  color: white;
}
 */
/* M E D I A    Q U E R I E S*/

@media screen and (max-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .links-wrapper {
    padding: 10px;
  }
}
