.page-wrapper-dashboard {
  display: flex;
  padding-right: 10%;
  background-image: url("https://c1.wallpaperflare.com/preview/27/966/475/band-blur-concert-dark.jpg");
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 38%;
}

h2 {
  margin-left: 40px;
}

.card-wrap {
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: dimgray;
  margin: 5px;
}
.card-wrap:hover {
  opacity: 70%;
}

.text {
  text-align: center;
  color: white;
  font-size: small;
}

.action-btns {
  position: absolute;
  margin: 50px;
  z-index: 100;
}

.pi-trash {
  color: white;
}
.pi-check-square {
  color: white;
}
