.filtering-btn {
  display: block;
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin: 10px;
}
.filtering-btn-selected {
  display: block;
  padding: 12px;
  border-radius: 5px;
  background-color: greenyellow;
  border: none;
  margin: 10px;
}
